<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Url shortener</title>
  </head>
  <body>
    <div class="container">
      <label for="urlString"> enter url :</label>
      <input id="urlString" type="url" />
      <button id="submit" type="submit" onclick="shorten()">submit</button>
    </div>

    <table>
      <thead>
        <tr>
          <th>Original url</th>
          <th>Shortened url</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="url-cards-container"></tbody>
    </table>

    <script src="index.js"></script>
  </body>
</html>
